{"sources": {
    "twitter": {
	"creds": {"app-consumer-key": "XXXXXXXXX",
		  "app-consumer-secret": "XXXXXXXXX",
		  "user-access-token": "XXXXXXXXX",
		  "user-access-token-secret": "XXXXXXXXX"
		 },
	"user-timeline": {"enabled": true}
    }
}
}
 
